#divPlace p {
    text-align: left;
}
#cell-table {
    width:100px;
    height:100px
}

#nav {
    padding-bottom: 20px;
}

#imgPlace {
    height:300px;
    width:300px;
    padding-right: 10px;
}

.card {
    height:300px;
}

.card-img-top {
    height:200px;
}